body {
    margin: 0;
    padding: 0;
    background-color: rgb(4, 33, 49);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}