.home-info {
    margin: 50px auto;
    width: 85%;
}

.indent {
    text-indent: 50px;
}

.poster {
    max-width: 320px;
    float: right;
    border: 3px solid white;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.textbox {
    color: white;
    line-height: 25px;
}

.textbox p {
    font-size: 17px;
}

.textbox h2 {
    font-size: 42px;
    line-height: 40px;
}

.scrolltop {
    bottom: -80px;
    right: 50px;
}
