.col-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.col {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px 30px;
    text-align: center;
}

.upper {
    overflow: hidden;
    background-color: rgb(220, 229, 226);
}

.upper p {
    padding: 0;
    margin: 0;
}

.content {
    display: inline-block;
}

.loc {
    width: 30%;
    border-radius: 2px;
    margin: 10px;
}

.bottom h2 {
    font-size: 42px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.content p {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

@media (max-width: 991px) {
    .col .bottom .content {
        padding-left: 0;
    }
}

@media (max-width: 545px) {
    .bottom h2 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .col {
        width: 90%;
        grid-template-columns: 1fr;
    }
}