.products-main {
    display: block;
    margin-top: 7rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart-icon {
    color: white;
}

.shopping-wrap ion-icon {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.shopping-wrap {
    display: flex;
    margin: 100px auto;
    max-width: 800px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.shop-header {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    
    margin: 0 auto;
}

.products-title {
    width: 45%;
}

.price {
    width: 10%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
}

.price {
    width: 20%;
    display: flex;
    align-items: center;
}

.products {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 1px solid white;
}

.products img {
    width: 55px;
}

h5 {
    padding: 0;
    margin: 0;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
    border-top: 3px solid white;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}