.about-info {
    margin: 50px auto;
    width: 85%;
}

.indent {
    text-indent: 50px;
}

.textbox {
    color: white;
    line-height: 25px;
}

.textbox p {
    font-size: 17px;
}

.textbox h2 {
    font-size: 42px;
    line-height: 40px;
    text-align: center;
}
.scrolltop {
    bottom: -80px;
    right: 50px;
}
